<!DOCTYPE html>
<html>
<head>
    <title>Detail Page for <%= @book.title %></title>
</head>
<body>

    <h2><%= @book.title %> by <%= @book.author %></h2>

    <div><%= @book.snippet %></div>

    <a href="/books/<%= @book.id %>/edit">Edit this book</a>
    <a href="/books">Book Index Page</a>

    <form action="/books/<%= @book.id %>" method="POST">
        <input type="hidden" value="DELETE" name="_method">
        <input type="submit" value="Burn this book">
    </form>
</body>
</html>